<div class="jumbotron bg-white mb-0">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <h1 class="pry-dark-text">Contact Us</h1>
                <h6>If you need our help, have questions about how to use the platform or are 
                    experiencing technical difficulties, please do not hesitate to contact us.</h6>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron mb-0 bg-pry-fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="pry-dark-text">G18 Millenium estate, Oniru, Victoria Island 101242, Lagos</h4>
                <h5 class="pry-dark-text my-3">Email: contact@cashboxng.com <br>Phone: +(234) 808 8888 110</h5>
                <h6>Give us a call or drop by during work hours. We endeavour to answer all enquiries within 24 hours.</h6>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Email address</label> -->
                      <input type="text" class="form-control"  placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <!-- <label for="exampleInputPassword1">Password</label> -->
                      <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Enter message" cols="30" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn pry-btn btn-block">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.3974257289133!2d3.451972914740554!3d6.433037695345758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5b77761f01b%3A0xbaab00cf155f2c22!2sCashBox!5e1!3m2!1sen!2sng!4v1592169197307!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>