
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item"> 
              <a class="nav-link" routerLink="/dashboard">
                <h4 class="">1Kobo </h4>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                  <span class=" fa fa-home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/savings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="fa fa-piggy-bank"></span>
                Savings
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/investments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="fa fa-chart-line"></span>
                Investments
              </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/account" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="fa fa-user"></span>
                    Account
                  </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="fa fa-signal"></span>
                    Transactions
                  </a>
            </li>

          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 dashboard">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h3">{{page.title}}</h1>
          <div class=" mb-2 mb-md-0">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img width="45px" src="/assets/images/user-circle2.png" alt="icons">
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="/dashboard/account">Profile</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
          </div>
        </div>  
        <div>
            <router-outlet></router-outlet>
        </div>
      </main>
</div>