<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bank Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Security</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3 ">
                                <h5>Personal details</h5>
                            </div>
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                <input type="text" placeholder="enter first name" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label> 
                                <input type="text" placeholder="enter last name" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email address</label> 
                                <input type="email" placeholder="enter email address" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone number</label> 
                                <input type="tel" placeholder="enter phone number" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 mb-3 ">
                                <h5>Address information</h5>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Street</label>
                                <input type="text" placeholder="enter street name" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>City/town</label> 
                                <input type="text" placeholder="enter city" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>State</label> 
                                <input type="text" placeholder="enter state" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Postal code</label> 
                                <input type="tel" placeholder="enter postal code" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Country</label> 
                                <select  class="form-control">
                                    <option value="ng">Nigeria</option>
                                    <option value="gh">Ghana</option>
                                    <option value="to">Togo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <button class="btn pry-dark-bg">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3 ">
                                <h5>Banking information</h5>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Bank name</label>
                                <select class="form-control">
                                    <option value="fb">First Bank</option>
                                    <option value="ac">Access Bank</option>
                                    <option value="gtb">Garanty Trust Bank</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Account number</label> 
                                <input type="text" placeholder="enter account number" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Account name</label> 
                                <input type="text" placeholder="enter account name" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Swift code <small>(optional)</small> </label> 
                                <input type="text" placeholder="enter swift code" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <button class="btn pry-dark-bg">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
            <div class="col-md-8">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Old password</label>
                                        <input type="text" class="form-control" placeholder="enter old password">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>New password</label>
                                        <input type="text" class="form-control" placeholder="enter new password">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Confirm password</label>
                                        <input type="text" class="form-control" placeholder="enter confirm password">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button class="btn pry-dark-bg">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>