@import './variable.scss';
.pry-text {
    color: $pry-text !important;
}
.pry-btn {
    background: $pry-btn-color !important;
    color: white !important;
}
.pry-dark-text {
    color: #006600;
}
.bg-pry-fade {
    background-color: #e6ffe6 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.text-teal {
    color: #008B8B;
}
.pry-dark-bg {
    background: #006241;
    color: white !important;
}
.bg-inv {
    background: #004953;
}