@import './variable.scss';
.pry-text {
    color: $pry-text !important;
}
.pry-btn {
    background: $pry-btn-color;
    color: white;
}
.pry-dark-text {
    color: #006600;
}
.bg-pry-fade {
    background-color: #e6ffe6 !important;
}