.transaction {
    thead tr th {
        border: none;
    }
    .td-icon {
        padding: 22px
    }
    .round-container {
        padding: 9px;
        border-radius: 50%;
        color: white;
        margin-top: 10px;
    }
}