<footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
          <div class="col-md-8">
            <h4 class="pry-text">1kobo</h4>
            <p>
                1Kobo is the largest online savings & investing platform in Nigeria.
                For over 4 years, our customers have saved and invested billions of Naira that they would normally be tempted to spend.
            </p>
            <p>
               <small>
                Office: Tesmot House, 3 Abdulrahman Okene Close, off Ligali Ayorinde Street, Victoria Island, Lagos.
                0700 933 933 933 (Mon-Fri from 9am-5pm) - contact@1kobong.com
                © 2020 1Kobo Global Limited - RC 1405222
               </small>
            </p>
          </div>
          <div class="col-md-2">
              <h6>Quick Links</h6>
                <p>Login</p>
                <p>Register</p>
                <p>Savings</p>
                <p>Withdraws</p>
          </div>
          <div class="col-md-2">
            <h6>Company</h6>
            <p>About</p>
            <p>FAQs</p>
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
          </div>
      </div>
    </div>
  </footer>