
.navbar {
    padding: 10px 10px;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.11) !important;
    .navbar-brand{
        margin-left: 13%;
        font-size: 25px;
        font-weight: bold;
    }
    .navbar-nav {
        .nav-item {
            margin: 0px 20px;
        }
    }

}