/* You can add global styles to this file, and also import other style files */
@import 'assets/css/variable.scss';
@import 'assets/css/utilities.scss';

body {
    // background: #e6ffe6;
    font-family: 'Poppins', sans-serif;
}
.dashboard {
    .nav-tabs {
        .nav-item {
            .nav-link {
                color: #006241;
                &.active {
                    background: #006241;
                    color: white;
                }
            }
        }
    }
    form {
        .alert {
            .titles {
                p {
                    margin: 5px;
                }
            }
        }
    }
}