<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="w-100 text-center mb-3">
                <a routerLink="/"><h3  class="cursor-pointer pry-dark-text ">1kobo</h3></a>
            </div>
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/assets/images/auth-layout.jpg" alt="IMG">
            </div>
            <div class="login100-form validate-form">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>