.balance-row {
    .card {
        color: white;
        padding: 17px;
        border-radius: 10px;
        .card-icon {
            margin-right: 15px; 
        }
        p {
            font-size: 18px;
        }
        &.wallet {
            background: #00A550;
        }
        &.savings {
            background: #008B8B;
        }
        &.investments {
            background: #004953;
        }
    }
}
